body{
    background-color: #192444;
    /* margin: 5%; */
}

#mainContainer{
    display :flex;
    flex-direction: column;
} 

.title{
    padding-left: 40%;
}

.corr_title{
    padding-left: 3%;
}
.create_container{
    border-radius: 5px;
    background-color:  #1f2c56;
    margin: 15px;/* space around*/
    padding: 15px;
    margin-left: 45px;
    width : 50%;
    position: relative;
    box-shadow: 2px 2px 2px #1f2c56;
}

.fix_label{
    margin: 0;
    padding: 10px;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: calc(100%-40%);
}

.Select-control, .Select-menu-outer, .Select-multi-value-wrapper,.select-up, .is-open .Select-control{
    background-color: #1f2c56;
    color: white;
}
.Select-control{
    border: 0.8px solid green;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    
    color: white;
}
/*width*/
::-webkit-scrollbar{
    width: 10px !important;
    display: block !important;
}

/*track*/
::-webkit-scrollbar-track{
    background: #1f2c56 !important;
    border-radius: block !important;
}
/*handle*/
::-webkit-scrollbar-track{
    background: #192444;

}